header {
  text-align: center;
  background-color: #EEE;
  margin-bottom: 20px;
  padding: 10px;
}
a {
  margin: 0 10px;
  color: #d63a3a;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.active {
  color: #955e3c;
  text-decoration: underline;
}
